<% unless defined?(field_options) %>
  <% field_options = {} %>
<% end %>

<% if !defined?(relationships) || !relationships %>
  <% relationships = @relationships %>
<% end %>

<% if field.to_sym == :geometry %>
  <%= f.input field.to_sym, { as: :string }.merge(field_options) %>
<% elsif f.object.send(field.to_sym).kind_of?(ActiveStorage::Attached::One) %>
  <div class="direct-upload-container">
    <% if f.object.id && f.object.respond_to?(:filename) %>
      <% if f.object.content_type =~ /^image\// %>
        <p><%= link_to(image_tag(f.object.send(field.to_sym).variant(resize: "200x200")), rails_blob_path(f.object.send(field.to_sym)), target: '_blank') %></p>
      <% else %>
        <p><%= link_to(f.object.send(field.to_sym).filename, rails_blob_path(f.object.send(field.to_sym)), target: '_blank') %></p>
      <% end %>
    <% else %>
      <p data-blob-link="true" style="display: none"></p>
      <%= f.hidden_field "#{field.to_sym}_pseudo".to_sym, 'data-direct-upload-pseudo': 'true' %>
      <%= f.hidden_field :file_id_pseudo, 'data-file-id-pseudo': 'true', 'data-storage-url-path': send(@storage_url_path, '{{file_id}}') %>
      <%= f.input field.to_sym, { as: :file, :input_html => { :data => {'direct-upload-url': rails_direct_uploads_url, 'storage-url-path': send(@storage_url_path, '{{file_id}}') } }}.merge(field_options) %>
    <% end %>
  </div>
<% elsif f.object.send(field.to_sym).kind_of?(ActiveStorage::Attached::Many) %>
  <%= f.input field.to_sym, { as: :file, :input_html => { :data => {'direct-upload-url': rails_direct_uploads_url }, multiple: true } }.merge(field_options) %>
<% elsif @model.defined_enums[field.to_s] %>
  <%= f.input field.to_sym, { collection: @model.defined_enums[field.to_s] }.merge(field_options) %>
<% elsif relationships[field.to_sym] %>
  <% field_options.merge!({ collection: relationships[field.to_sym][:collection] }) if relationships[field.to_sym][:collection] %>
  <% field_options.merge!({ as: :check_boxes }) if relationships[field.to_sym][:as_check_boxes] %>
  <%= f.association field, { label_method: relationships[field.to_sym][:label] }.merge(field_options) %>
<% else %>
  <%= f.input field.to_sym, field_options %>
<% end %>
