<% if @translation_fields&.any? %>
  <%= render partial: 'language_tabs' %>
<% end %>

<% @general_fields.each do |row| %>
  <div class="row">
    <% row.each do |field| %>
      <div class="col-md-<%= 12/row.count %>">
        <% if !field.is_a?(Hash) && @relationships[field.to_sym] && @relationships[field.to_sym][:fields] && !@relationships[field.to_sym][:single] %>
          <fieldset class="form-group">
            <legend><%= field.to_s.humanize %></legend>
            <div class="nested_<%= field %>_container">
              <%= f.simple_fields_for field.to_sym do |nested_relationship| %>
                <%= render 'many_to_many_throw_fields', { f: nested_relationship, nested_fields: @relationships[field.to_sym], assoc_field: field } %>
              <% end %>
            </div>
            <div class="links">
              <%= link_to_add_association '+', f, field.to_sym, :class => 'btn btn-primary', :partial => 'many_to_many_throw_fields', render_options: { locals: { nested_fields: @relationships[field.to_sym], assoc_field: field } } %>
            </div>
            <hr/>
          </fieldset>
        <% elsif !field.is_a?(Hash) && @relationships[field.to_sym] && @relationships[field.to_sym][:fields] && @relationships[field.to_sym][:single] %>
          <fieldset>
            <legend><%= field.to_s.humanize %></legend>
            <%= f.simple_fields_for "#{field.to_sym}_attributes", @item.build_single_relationship(field.to_sym) do |fho| %>
              <%= normalize_field f: fho, field: :name %>
              <%= fho.hidden_field :id %>
            <% end %>
          </fieldset>
          <hr>
        <% else %>
          <%= normalize_field f: f, field: field %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'internationalize_fields' %>
