<% if @translation_fields&.any? %>
  <div class="tab-content">
    <% I18n.available_locales.each_with_index do |l, k| %>
      <div class="tab-pane fade in" id="<%= l %>">
        <fieldset>
          <legend>Internationalize Fields</legend>
          <%= simple_fields_for "#{@item.formable_name}[translations_attributes][#{k}]", @item.locale(l) do |o| %>
            <% @translation_fields.each do |row| %>
              <div class="row">
                <% row.each do |attribute| %>
                  <div class="col-md-<%= 12/row.count %>">
                    <% if !attribute.is_a?(Hash) && @translation_relationships[attribute.to_sym] && @translation_relationships[attribute.to_sym][:fields] && !@translation_relationships[attribute.to_sym][:single] %>
                      <fieldset class="form-group">
                        <legend><%= attribute.to_s.humanize %></legend>
                        <%= o.simple_fields_for attribute.to_sym do |nested_relationship| %>
                          <%= render 'many_to_many_throw_fields', { f: nested_relationship, nested_fields: @translation_relationships[attribute.to_sym], assoc_field: attribute } %>
                        <% end %>
                        <div class="links">
                          <%= link_to_add_association '+', o, attribute.to_sym, :class => 'btn btn-primary', :partial => 'many_to_many_throw_fields', render_options: { locals: { nested_fields: @translation_relationships[attribute.to_sym], assoc_field: attribute } } %>
                        </div>
                        <hr/>
                      </fieldset>
                    <% else %>
                      <%= normalize_field f: o, field: attribute %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <%= o.hidden_field :id %>
            <%= o.hidden_field :locale %>
            <%= o.input :_destroy, :as => :boolean %>
          <% end %>
        </fieldset>
      </div>
    <% end %>
  </div>
<% end %>
