<nav>
  <div class="nav nav-tabs" id="language-tab" role="tablist" data-turbolinks="false">
    <% I18n.available_locales.each_with_index do |l, k| %>
      <a data-turbolinks="false" class="nav-item nav-link" style="<%= ('color: red' if @item.locale(l).errors.present?) %>" id="link-to-tab-<%= l %>" data-toggle="tab" href="#<%= l %>" role="tab" aria-controls="nav-home" aria-selected="true"><%= l %></a>
    <% end %>
  </div>
</nav>
