<div class="nested-fields nested_<%= assoc_field %>_node">
  <% nested_fields[:fields].each do |row| %>
    <div class="row">
      <% row.each do |nf| %>
        <div class="col-md-<%= 12/row.count %>">
          <%= normalize_field f: f, field: nf, relationships: nested_fields[:relationships] %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if nested_fields[:allow_destroy] != false || !f.object.id %>
    <%= link_to_remove_association 'x', f, :class => "btn btn-warning" %>
  <% end %>
  <hr/>
</div>
