<nav aria-label="breadcrumb" class="breadcrumb border shadow-around-sm d-flex justify-content-between p-2">
  <ol class="breadcrumb p-1 m-0">
    <li class="breadcrumb-item">
      <a href="<%= admin_root_path %>">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @model.model_name.human.pluralize, send("#{@route_prefix}#{@model.to_s.underscore.pluralize}_path") %>
      (<%= @items.total_count %>)
    </li>
  </ol>

  <ul class="nav nav-pills p-0 m-0">
    <li class="nav-item ml-1">
      <%= link_to 'New', send("new_#{@route_prefix}#{@model.to_s.underscore}_path"), class: 'btn btn-sm btn-primary' %>
    </li>
    <% if @sort_query %>
      <li class="nav-item ml-1">
        <%= link_to 'Sort', send("sort_#{@route_prefix}#{@model.to_s.underscore.pluralize}_path", @sort_link_arguments), class: 'btn btn-sm btn-secondary' %>
      </li>
    <% end %>
  </ul>
</nav>

<% if @search_fields.present? && action_name == 'index' %>
  <div class="section">
    <%= simple_form_for @search_item, as: :search_item, url: send("#{@route_prefix}#{@model.to_s.underscore.pluralize}_path"), method: "GET" do |f| %>
      <% @search_fields.each do |row| %>
        <div class="row">
          <% row.each do |search_field| %>
            <div class="col-md-<%= 12/row.count %>">
              <% if @translation_fields && @translation_fields.include?(search_field) %>
                <%= simple_fields_for :search_item ,@search_item do |ft| %>
                  <% if search_field.is_a?(Hash) && search_field.dig(search_field.keys[0], :field_options, :as_range) %>
                    <div class="row">
                      <div class="col-md-6 pr-0">
                        <%= normalize_field f: ft, field: search_field[:from] %>
                      </div>
                      <div class="col-md-6 pl-0">
                        <%= normalize_field f: ft, field: search_field[:to] %>
                      </div>
                    </div>
                  <% else %>
                    <%= normalize_field f: ft, field: search_field %>
                  <% end %>
                <% end %>
              <% else %>
                <% if search_field.is_a?(Hash) && search_field.dig(search_field.keys[0], :field_options, :as_range) %>
                  <div class="row">
                    <div class="col-md-6 pr-0">
                      <%= normalize_field f: f, field: search_field[:from] %>
                    </div>
                    <div class="col-md-6 pl-0">
                      <%= normalize_field f: f, field: search_field[:to] %>
                    </div>
                  </div>
                <% else %>
                  <%= normalize_field f: f, field: search_field %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <a href="<%= send("#{@route_prefix}#{@model.to_s.underscore.pluralize}_path") %>" class="btn btn-warning">Reset</a>
    <% end %>
  </div>
<% end %>

<% if @items.total_pages > 1 %>
  <div class="d-flex justify-content-center mt-4 mb-4 pt-3 border shadow-around-sm">
    <%= paginate @items %>
  </div>
<% end %>

<div class="table-responsive shadow-around-sm">
  <table
    class="table table-hover"
    id="<%= "#{@model.to_s.underscore}_table" %>"
    <% if @sort_query && params[:action] == 'sort' %>
    data-sort_url="<%= send("sort_#{@route_prefix}#{@model.to_s.underscore.pluralize}_path") %>"
    <% end %>
    >
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <% @fields_in_table.each do |field| %>
        <th><%= @model.human_attribute_name field %>
        </th>
      <% end %>
      <% if @translation_fields && @translation_fields.any? %>
        <th><%= @model.human_attribute_name @internationalize_title %></th>
      <% end %>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr id="<%= dom_id(item) %>">
        <td style="width: 60px; text-align: center; vertical-align: middle"><%= link_to '#' + item.id.to_s, send("edit_#{@route_prefix}#{@model.to_s.underscore}_path", item) %>
        </td>
        <% @fields_in_table.each do |field| %>
          <td><%= item.send field %>
          </td>
        <% end %>
        <% if @translation_fields && @translation_fields.any? %>
          <td style="padding: 0">
            <table class="table" style="margin: 0;">
              <% I18n.available_locales.each do |locale| %>
                <tr>
                  <td><%= link_to item.locale(locale).send(@internationalize_title), send("edit_#{@route_prefix}#{@model.to_s.underscore}_path", item, anchor: locale) %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
        <% end %>
        <td style="width: 60px; text-align: center; vertical-align: middle">
          <div class="d-flex flex-row-reverse">
            <% @action_buttons[params[:action].to_sym].each do |i| %>
              <% pattern = /\-([a-z0-9_]+)\-/ %>
              <% result = i.gsub(pattern) do |match| %>
                <% item.send match.gsub(pattern, "\\1") %>
              <% end %>
              <%= result.html_safe %>
            <% end if @action_buttons[params[:action].to_sym].respond_to?(:each) %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if @items.total_pages > 1 %>
  <div class="d-flex justify-content-center border mt-4 pt-3 shadow-around-sm">
    <%= paginate @items %>
  </div>
<% end %>
