<nav aria-label="breadcrumb" class="breadcrumb border shadow-around-sm d-flex justify-content-between p-2">
  <ol class="breadcrumb p-1 pt-1 m-0">
    <li class="breadcrumb-item">
      <a href="<%= admin_root_path %>">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @model.model_name.human.pluralize, send("#{@route_prefix}#{@model.to_s.underscore.pluralize}_path") %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to 'New', send("new_#{@route_prefix}#{@model.to_s.underscore}_path") %>
    </li>
  </ol>
</nav>

<div class="section">
  <%= simple_form_for [:admin, @item] do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= f.button :submit, "Create And Reload", class: 'btn btn-secondary', name: "commit_and_reload" %>
  <% end %>
</div>
